NVIDIA_API_KEY_HIGH=nvapi-twoj-klucz-high # do uzupelnienia gdyby to byla produkcja swoim kluczem, moj .env sa w ignore i dla dockera i dla gita
NVIDIA_API_KEY_FAST=nvapi-twoj-klucz-fast
GF_SECURITY_ADMIN_PASSWORD=admin
